body {
    background: rgb(41, 41, 41);
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    overflow: auto;
}

#header {
    background: rgb(71, 123, 165);
    color: white;
    margin: 0;
    padding-top: 1%;
    padding-bottom: 1%;
}

#header h1 {
    margin: 0;
    font-weight: 300;
    font-size: 40px;
}

#rgb {
    text-align: center;
    margin: 0;
    font-weight: 400;
    font-size: 70px;
    text-transform: uppercase;
    display: block;
}

#options {
    background: white;
    color: rgb(71, 123, 165);
    margin: 0;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    text-transform: uppercase;
}

#newColours {
    width: 22%;
    margin-left: 4%;
    margin-right: 4%;
}

#result {
    font-size: 16px;
    color: black;
    width: 30%;
}

button {
    background: none;
    border: none;
    padding: 10px;
    color: rgb(71, 123, 165);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    outline: none;
    transition: all 0.3s;
    cursor: pointer;
}

button:hover {
    background: rgb(71, 123, 165);
    color: white;
}

#mainSection {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1%;
    padding-bottom: 1%;
}

.square {
    width: 30%;
    padding-bottom: 30%;
    margin: 1.66%;
    background: white;
    border-radius: 10%;
    transition: background 0.5s;
    cursor: pointer;
}

.active {
    background: rgb(71, 123, 165);
    color: white;
}

.difficulty {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    width: 30%;
    
}

.difficultyBtn {
    width: 50%;
}